<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <input type="radio" value="9" v-model="msg">
        <input type="radio" value="7" v-model="msg">{{msg}}
    </div>
</body>
<script src='./vue.js'></script>
<script>
    var hw = new Vue({
        el: '#app',
        data: {
            msg: 0
        },
        methods: {}
    })
</script>

</html>