<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <input type="text" name="" id="" v-model="fm">
        <button @click="add">添加</button>
        <button @click="del">删除</button>
        <button @click="change">改变</button>
        <div v-for="(item,index) in msg" :key="index">{{item}}</div>
    </div>
</body>
<script src='./vue.js'></script>
<script>
    var hw = new Vue({
        el: '#app',
        data: {
            msg: ["apple", "orange", "pink"],
            fm: ''
        },
        methods: {
            add() {
                this.msg.push(this.fm)
                this.fm = ''
            },
            del() {
                this.msg.pop()
            },
            change() {
                this.msg = this.msg.slice(0, 2)
            }
        },
        watch: {},
        filters: {},
        computed: {}
    })
</script>

</html>